################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankApp
/BankApp/bin/Debug/netcoreapp2.2
/BankApp/obj
/BankUI/bin/Debug/netcoreapp2.2
/BankUI/obj
/BankApp/bin/Release/netcoreapp2.2
/BankTest/bin/Debug/netcoreapp2.2
/BankTest/obj
/BankUI/bin/Release/netcoreapp2.2
